{% extends 'layout.html' %}
{% block title %}
    登录
{% endblock %}
{% block content %}
    <div class="container col-lg-4 col-lg-offset-4">

        <form class="form-signin" action="" method="post" autocomplete="off" novalidate>
            {% csrf_token %}
            <h2 class="form-signin-heading">登录</h2>
            <input type="text" id="username" class="form-control" placeholder="用户名" required=""
                   autofocus="" name="username">
            <input type="password" id="password" class="form-control" placeholder="密码" required="" name="password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> 记住密码
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <span style="color: #ff442e">{{ error_msg }}</span>
        </form>

    </div>
{% endblock %}